<html>
    <head>
      <link rel="stylesheet" href="/css/pure-min.css">
    </head>
    <body>
        <h1>SlideAlbum</h1>
        <div> Title: {{slideAlbum.title}} </div>
        <div> Customer: {{slideAlbum.customer}} </div>
    </body>
</html>